name: Autorelease

on:
  push:
    branches: ["**"]
    tags: ["*"]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  autorelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v2
        with:
          install: true
          cache: true

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create PR if changes
        uses: peter-evans/create-pull-request@v7
        with:
          title: "chore: update generated code" # yamllint disable-line
          body: This PR updates generated code.
          commit-message: "chore: update generated code" # yamllint disable-line
          branch: chore/codegen-update
          delete-branch: true
          base: ${{ github.ref_name }}

      - name: CI
        run: mise run ci

      - name: Build
        run: mise run build

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          gh release create "$TAG_NAME" build/* --generate-notes
