name: Autorelease

on:
  push:
    branches:
    - master
jobs:
  build-binary:
    runs-on: ubuntu-latest
    steps:
    - name: Create relase
      id: release
      uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          draft: true
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
          stable: 'true'
          go-version: '1.25.5'

    - run: mkdir build -p && ls && pwd
    - run: GOOS=windows GOARCH=amd64 go build -o build/dotenv-windows-amd64.exe ./cmd/dotenv/main.go
    - run: go build -o build/dotenv-linux-amd64 ./cmd/dotenv/main.go
    - uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/dotenv-*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
