name: Autorelease

on:
  push:
    branches:
    - master
jobs:
  build-binary:
    runs-on: ubuntu-latest
    steps:
    - name: Create relase
      id: release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          draft: true
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
          stable: 'true'
          go-version: '1.25.4'

    - run: mkdir build -p && ls && pwd
    - run: GOOS=windows GOARCH=amd64 go build -o build/dotenv-windows-amd64.exe ./cmd/dotenv/main.go
    - run: go build -o build/dotenv-linux-amd64 ./cmd/dotenv/main.go
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/dotenv-*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
